In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd drive/My\ Drive

[Errno 2] No such file or directory: 'drive/My Drive'
/content/drive/My Drive/raw/watch/gyro

In [ ]:
cd raw/phone/accel/

[Errno 2] No such file or directory: 'raw/phone/accel/'
/content/drive/My Drive/raw/watch/gyro

In [ ]:
import glob
txt = glob.glob('*.txt')

In [ ]:
phone_accel = []
for infile in glob.glob('*.txt'):
    data = pd.read_csv(infile, sep=",", header=None)
    # store DataFrame in list
    phone_accel.append(data)
# see pd.concat documentation for more info
phone_accel = pd.concat(phone_accel)

In [ ]:
phone_accel.columns = ["id","activity-code","timestamp","x","y","z"]

In [ ]:

phone_accel["type"] = np.full((phone_accel.shape[0], 1), 1, dtype=int)

In [ ]:
cd ../gyro/

/content/drive/My Drive/raw/watch/gyro

In [ ]:
phone_gyro = []
for infile in glob.glob('*.txt'):
    data = pd.read_csv(infile, sep=",", header=None)
    # store DataFrame in list
    phone_gyro.append(data)
# see pd.concat documentation for more info
phone_gyro = pd.concat(phone_gyro)
phone_gyro.columns = ["id","activity-code","timestamp","x","y","z"]
phone_gyro["type"] = np.full((phone_gyro.shape[0], 1), 2, dtype=int)

In [ ]:
cd ../../watch/accel/

/content/drive/My Drive/raw/watch/accel

In [ ]:
watch_accel = []
for infile in glob.glob('*.txt'):
    data = pd.read_csv(infile, sep=",", header=None)
    # store DataFrame in list
    watch_accel.append(data)
# see pd.concat documentation for more info
watch_accel = pd.concat(watch_accel)
watch_accel.columns = ["id","activity-code","timestamp","x","y","z"]
watch_accel["type"] = np.full((watch_accel.shape[0], 1), 3, dtype=int)

In [ ]:
cd ../gyro/

/content/drive/My Drive/raw/watch/gyro

In [ ]:
watch_gyro = []
for infile in glob.glob('*.txt'):
    data = pd.read_csv(infile, sep=",", header=None)
    # store DataFrame in list
    watch_gyro.append(data)
# see pd.concat documentation for more info
watch_gyro = pd.concat(watch_gyro)
watch_gyro.columns = ["id","activity-code","timestamp","x","y","z"]
watch_gyro["type"] = np.full((watch_gyro.shape[0], 1), 4, dtype=int)

In [ ]:
column = ["id","activity-code","timestamp","x","y","z","type"]
data = pd.DataFrame(columns=column)

In [ ]:
data = pd.concat([phone_accel, phone_gyro,watch_accel, watch_gyro ])

In [ ]:
data.shape

(14098072, 7)

In [ ]:
data = data.sample(frac=0.9, replace=True, random_state=1)

In [ ]:
data.shape

(12688265, 7)

In [ ]:
data[data.columns[5]] = data[data.columns[5]].replace({';':''}, regex=True)

In [ ]:
data['z'] = pd.to_numeric(data['z'])

In [ ]:
data["activity-code"].astype('category')

11461     D
7112      B
13383     D
25365     H
35287     J
         ..
49843     M
36887     L
32105     I
6058      B
102038    K
Name: activity-code, Length: 12688265, dtype: category
Categories (18, object): [A, B, C, D, ..., P, Q, R, S]

In [ ]:
data.describe()

                 id     timestamp  ...             z          type
count  1.268826e+07  1.268826e+07  ...  1.268826e+07  1.268826e+07
mean   1.625495e+03  6.222779e+14  ...  5.050632e-01  2.511757e+00
std    1.453504e+01  6.889224e+14  ...  3.074842e+00  1.107077e+00
min    1.600000e+03  1.622154e+12  ... -7.847761e+01  1.000000e+00
25%    1.613000e+03  8.365832e+13  ... -2.458976e-01  2.000000e+00
50%    1.626000e+03  3.721896e+14  ...  9.961554e-03  3.000000e+00
75%    1.638000e+03  9.098129e+14  ...  8.762778e-01  3.000000e+00
max    1.650000e+03  2.724599e+15  ...  6.507508e+01  4.000000e+00

[8 rows x 6 columns]

In [ ]:
data[data.columns[2]] = pd.cut(data[data.columns[2]], bins=[268102700000, 107914500000000, 370481700000000,940768200000000,2724599999999999, float('Inf')], labels=False)#timestamp

In [ ]:
data.isnull().sum()

id               0
activity-code    0
timestamp        0
x                0
y                0
z                0
type             0
dtype: int64

In [ ]:
df = pd.DataFrame(data, columns = data.columns)
X = df[[df.columns[2],df.columns[3],df.columns[4],df.columns[5],df.columns[6] ]] 
y = df[[df.columns[1]]]

In [ ]:
X.head(20)

       timestamp         x         y         z  type
11461          3  0.006626  0.001715  0.001208     4
7112           1 -1.198896 -2.894789  2.663176     2
13383          3  0.007730  0.001802  0.004887     2
25365          2 -0.546008 -0.031650  0.130098     4
35287          1 -4.599004  0.496122 -0.542906     1
47188          1 -0.045806  0.400539 -0.610397     4
44164          2 -1.075425  0.836135  0.105588     2
86511          2  1.772742  0.596813  1.253376     4
25253          3 -2.759063 -8.555010 -0.392783     3
24647          1  3.907487 -0.436792  9.121011     3
57550          0  0.125967  0.011023 -0.041616     4
8837           2  7.161356 -2.137124  2.176030     3
5327           0 -1.915455  1.165270 -1.140014     4
36352          2  0.071779  0.023712 -0.068976     2
41406          2 -2.238878 -8.352621 -5.673360     3
27979          0 -8.759636 -3.181894  1.448193     3
74972          3  2.991379 -7.671248  4.924161     3
31832          1  5.413290  7.940370  3.328988     3
16395          0  0.026807  0.080827 -0.083725     4
47487          1  0.609079  1.720014 -1.228636     2

In [ ]:
X[X.columns[0]] = round(X[X.columns[0]],3)
X[X.columns[1]] = round(X[X.columns[1]],3)
X[X.columns[2]] = round(X[X.columns[2]],3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

#Decesion Tree
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train,y_train)

scores = cross_val_score(decision_tree, X, y.values.ravel(), cv=5)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
                                       
y_pred = decision_tree.predict(X_test)
decision_tree_accuracy = round(decision_tree.score(X_train,y_train.values.ravel()) * 100,2)
print(round(decision_tree_accuracy,2),'%')

Accuracy: 0.82 (+/- 0.00)
99.16 %